<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Hero Sheets</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">HeroSheets</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a th:href="@{/ficha/formficha(campanhaId=${param.campanhaId}, lang='pt_BR')}">🇧🇷</a></li>
                        <li><a th:href="@{/ficha/formficha(campanhaId=${param.campanhaId}, lang='en_US')}">🏴</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:object="${ficha}" th:action="@{'/ficha/formficha'}">
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{name}"></legend>
            <input th:field="*{nome}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{nome}" ></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{race}"></legend>
            <select th:field="*{raca}" class="select select-primary" required>
                <th:block th:each="raca : ${campanha.sistema.racas}">
                    <option th:value="${raca}" th:text="${raca}"></option>
                </th:block>
            </select>

        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{class}"></legend>
            <select th:field="*{classe}" class="select select-primary" required>
                <th:block th:each="classe : ${campanha.sistema.classes}">
                    <option th:value="${classe}" th:text="${classe}"></option>
                </th:block>
            </select>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{level}"></legend>
            <input type="hidden" th:field="*{nivel}" />
            <input th:value="1" type="text" class="input" disabled />
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{life}"></legend>
            <input th:field="*{vida}" id="vida-range" type="range" th:min="${campanha.sistema.vidaMin}" th:max="${campanha.sistema.vidaMax}" th:value="${campanha.sistema.vidaMax}" class="range range-primary" />
            <p id="vida-label" class="label"  th:text="*{vida + ' HP'}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{mana}"></legend>
            <input th:field="*{mana}" id="mana-range" type="range" th:min="${campanha.sistema.manaMin}" th:max="${campanha.sistema.manaMax}" th:value="${campanha.sistema.manaMax}" class="range range-primary" />
            <p id="mana-label" class="label"  th:text="*{mana + ' AP'}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{inventory}"></legend>
            <div class="grid grid-cols-2 gap-2">
                <th:block th:each="item : ${campanha.sistema.itens}">
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" th:field="*{inventarioIds}" th:value="${item.id}" class="checkbox checkbox-primary">
                        <span th:text="${item.nome}"></span>
                    </label>
                </th:block>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{skills}"></legend>
            <div class="grid grid-cols-2 gap-2">
                <th:block th:each="habilidade : ${campanha.sistema.habilidades}">
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" th:field="*{habilidadeIds}" th:value="${habilidade.id}" class="checkbox checkbox-primary">
                        <span th:text="${habilidade.nome}"></span>
                    </label>
                </th:block>
            </div>
        </fieldset>

        <input type="hidden" name="campanhaId" th:value="${campanha.id}" />

        <div class="grid gap-4">
            <th:block th:each="atributo, iterStat : ${ficha.atributos}">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend" th:text="${atributo.nome}">Força</legend>

                    <!-- Hidden fields obrigatórios -->
                    <input type="hidden" th:field="*{atributos[__${iterStat.index}__].nome}" />
                    <input type="hidden" th:field="*{atributos[__${iterStat.index}__].valorMinimo}" />
                    <input type="hidden" th:field="*{atributos[__${iterStat.index}__].valorMaximo}" />
                    <input type="hidden" th:if="${atributo.id != null}" th:field="*{atributos[__${iterStat.index}__].id}" />

                    <!-- Slider -->
                    <input
                            th:field="*{atributos[__${iterStat.index}__].valorAtual}"
                            type="range"
                            th:min="${atributo.valorMinimo}"
                            th:max="${atributo.valorMaximo}"
                            th:id="'attr-range-' + ${iterStat.index}"
                            class="range range-primary"
                    />

                    <!-- Label mostrando valor atual -->
                    <p th:id="'attr-label-' + ${iterStat.index}" class="label" th:text="${atributo.valorAtual}">0</p>
                </fieldset>
            </th:block>
        </div>

        <div class="space-x-4">
            <a th:href="@{/ficha(campanhaId=${campanha.id})}" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary"  th:text="#{save}"></button>
        </div>

    </form>
</main>

<script>

    document.querySelector("#vida-range").addEventListener("input", e => {
        document.querySelector("#vida-label").textContent = e.target.value + " HP"
    })

    document.querySelector("#mana-range").addEventListener("input", e => {
        document.querySelector("#mana-label").textContent = e.target.value + " AP"
    })

    document.querySelectorAll('input[id^="attr-range-"]').forEach(function(range) {
        const labelId = range.id.replace('range', 'label');
        const label = document.getElementById(labelId);
        if (label) label.textContent = range.value
        range.addEventListener('input', function() {
            if (label) label.textContent = this.value;
        });
    });
</script>

</body>
</html>