<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Hero Sheets</title>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    const itens = /*[[${campanha.sistema.itens}]]*/ [];
    function addItem() {
        const container = document.getElementById('inventario-container');
        const index = container.children.length;

        const div = document.createElement('div');
        div.className = 'mb-2 flex gap-2';

        const select = document.createElement('select');
        select.name = `inventario[${index}].nome`;
        select.className = 'select select-bordered w-full';

        itens.forEach(i => {
            const option = document.createElement('option');
            option.value = i.id;
            option.text = i.nome;
            select.appendChild(option);
        });

        const inputPoder = document.createElement('input');
        inputPoder.type = 'number';
        inputPoder.name = `inventario[${index}].poder`;
        inputPoder.min = '0';
        inputPoder.max = '100';
        inputPoder.placeholder = 'Poder';
        inputPoder.className = 'input input-bordered w-24';

        div.appendChild(select);
        div.appendChild(inputPoder);
        container.appendChild(div);
    }
    /*]]>*/
</script>


<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">HeroSheets</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a th:href="@{/ficha/formficha(campanhaId=${param.campanhaId}, lang='pt_BR')}">🇧🇷</a></li>
                        <li><a th:href="@{/ficha/formficha(campanhaId=${param.campanhaId}, lang='en_US')}">🏴</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:object="${ficha}" th:action="@{'/ficha/formficha'}">
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{name}"></legend>
            <input th:field="*{nome}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{nome}" ></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{race}"></legend>
            <select th:field="*{raca}" class="select select-primary" required>
                <th:block th:each="raca : ${campanha.sistema.racas}">
                    <option th:value="${raca}" th:text="${raca}"></option>
                </th:block>
            </select>

        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{class}"></legend>
            <select th:field="*{classe}" class="select select-primary" required>
                <th:block th:each="classe : ${campanha.sistema.classes}">
                    <option th:value="${classe}" th:text="${classe}"></option>
                </th:block>
            </select>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{level}"></legend>
            <input th:field="*{nivel}" id="nivel-range" type="range" min="1" max="100" value="1" class="range range-primary" />
            <p id="nivel-label" class="label"  th:text="*{nivel + ' lvl'}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{life}"></legend>
            <input th:field="*{vida}" id="vida-range" type="range" th:min="${campanha.sistema.vidaMin}" th:max="${campanha.sistema.vidaMax}" th:value="${campanha.sistema.vidaMax}" class="range range-primary" />
            <p id="vida-label" class="label"  th:text="*{vida + ' HP'}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{mana}"></legend>
            <input th:field="*{mana}" id="mana-range" type="range" th:min="${campanha.sistema.manaMin}" th:max="${campanha.sistema.manaMax}" th:value="${campanha.sistema.manaMax}" class="range range-primary" />
            <p id="mana-label" class="label"  th:text="*{mana + ' AP'}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{inventary}"></legend>

            <div id="inventario-container">
                <!-- Itera sobre os itens já adicionados na ficha -->
                <div th:each="item, iterStat : *{inventario}" class="mb-2 flex gap-2">
                    <select th:field="*{inventario[__${iterStat.index}__].idItem}" class="select select-bordered w-full">
                        <option th:each="i : ${campanha.sistema.itens}"
                                th:value="${i.id}"
                                th:text="${i.nome}"
                                th:selected="${i.id == item.idItem}">
                        </option>
                    </select>
                    <input type="number" th:field="*{inventario[__${iterStat.index}__].poder}" min="0" max="100" placeholder="Poder" class="input input-bordered w-24"/>
                </div>
            </div>

            <button type="button" class="btn btn-secondary mt-2" onclick="addItem()">Adicionar Item</button>
        </fieldset>

        <div class="space-x-4">
            <a th:href="@{/ficha(campanhaId=${campanha.id})}" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary"  th:text="#{save}"></button>
        </div>

    </form>
</main>

<script>
    document.querySelector("#nivel-range").addEventListener("input", e => {
        document.querySelector("#nivel-label").textContent = e.target.value + " lvl"
    })

    document.querySelector("#vida-range").addEventListener("input", e => {
        document.querySelector("#vida-label").textContent = e.target.value + " HP"
    })

    document.querySelector("#mana-range").addEventListener("input", e => {
        document.querySelector("#mana-label").textContent = e.target.value + " AP"
    })
</script>

</body>
</html>